<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    <link rel="stylesheet" href="https://bootswatch.com/5/litera/bootstrap.min.css">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}

    {% block stylesheets %}
       
        <style>
            .navbar-nav {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
            }
            
            .nav-link {
                padding: 0 10px;
            }
            
            .container-fluid{
                
                justify-content: center;
            
        }
            .divider {
                margin-top: 2rem;
                margin-bottom: 2rem;
                border: none;
                border-top: 1px solid #eee;
            }

            .badge-cart {
                background-color: orange;
                color: white;
                font-size: 18px;
            }

            .search-form {
                display: flex;
                align-items: center;
            }

            .search-input {
                margin-right: 10px;
            }

            .footer {
                background-color: #f8f9fa;
                padding: 30px 0;
            }

            .footer .row {
                margin-top: 20px;
            }

            .footer h5 {
                margin-bottom: 20px;
            }

            .footer ul {
                padding-left: 0;
                list-style: none;
            }

            .footer li {
                margin-bottom: 10px;
            }
        </style>
    {% endblock %}

  
</head>
{% block header %}
<nav class="navbar navbar-expand-lg bg-light" data-bs-theme="light">
    <div class="container-fluid justify-content-center">
            <div class="collapse navbar-collapse " id="navbarColor02">
                <a class="nav-item mx-2" href="http://127.0.0.1:8000/symfonyadmin">
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAACXBIWXMAAAsTAAALEwEAmpwYAAACEElEQVR4nO2Yu0rEQBSGPyU2gg/gIqJ4A9PINlZ24lsIlr6BpYUgvoFaqP0qNlpZekG8FPYqWFiIiqJYiKCRgYOEkOxmx2xuez44xWZnMnPO/2cyE1AURVEURVFSZRyoAc8SNblWehxgAfgEvEB8AStAFyXFBc4l2R9gDeiVWJNrnrQxbUur+h0wHdJuCrgumxvcgOrrQE+d9t2S+Lf0uQImKLHqURTaDW6TqpfGDc4/VS+0G9yEVC+cG5wWqV4IN7gtVj23bnBSVj1XbnAzUj1zNzg5UT0TN7g5Uz01Nzg5V72lbhgLObnlUfUoekJOmCanWIwCrwVTPYppycHk8gKMxOm0JR32CqZ6FCaHfclpM06HB2lcoTz0+VzQkEdpbDr5mQSqlhM4CfkE1iiOLMeqylz99Ms9zaPdkF1pbGwzAAzKq88sKG+Wk/Isw4Z338JdkRwO5H47cRfBl4Qn1WzfJMYKxnPcRdAwDGwAt8A9sFrAApgF70lsvw0MWd7vj6IVIHE8LQDqAC8l9+gjQButAZ3APHAMnAHL7eaApYj39kcG88ykAE/y36yc5W/k90ULxsp1AeaAGV8BLjOYZyYFWGz3R6BD1DcHltNAQdKeZ110J4juBNGdIHboVhg9C9CMe8z3wMOU3BabXL6a0hzL0wJg/UnbyyAS56iJwQ//0TeJsF0/FEVRFEVRFNqFX5T3yB520CQaAAAAAElFTkSuQmCC">
                    
                </a>
                
                <ul class="navbar-nav mx-auto ">
                    
                    <li class="nav-item">
                        <a class="btn btn-outline-primary" href="http://127.0.0.1:8000/product">Book Management</a>
                    </li>
                    <li class="nav-item">
                        <a class=" btn btn-outline-primary" href="http://127.0.0.1:8000/category">Topic Management</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-primary" href="http://127.0.0.1:8000/user">User Management</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-primary" href="http://127.0.0.1:8000/order">Orders Management</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-primary" href="http://127.0.0.1:8000/contact">Feedback Management</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-primary" href="http://127.0.0.1:8000/post">Post Management</a>
                    </li>
                  
                </ul>
            </div>
            <form>
                <a class="btn btn-primary my-2 my-sm-0" href="/{{ app.user ? 'logout' : 'login' }}" @click="isOpen = false">
                    {{ app.user ? 'logout' : 'login'}}
                </a>
            </form>
        </div>
        </div>
    </nav>
    <hr class="divider">
{% endblock %}

{% block body %}


    {% endblock %}
<hr class="divider">

   


</body>
</html>


 {% block footer %}
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h5>Book Store HoangNhan</h5>
                    <p>is the e-commerce site of Hoang Nhan Bookstore, a familiar bookstore system of many Vietnamese families since the first bookstore was born in 1982 until now.</p>
                    <p>Coming to the online shopping space nhasachphuongnam.com, customers can easily find good, multi-genre books from many domestic and foreign publishers and book companies along with many school and office supplies. Genuine products, souvenirs, and educational toys from reputable brands. With the criteria of constantly perfecting and improving the quality of products and services, Phuong Nam Bookstore is committed to providing customers with a safe and convenient online shopping experience: simple ordering, payment methods. Diverse accounting, dedicated and thoughtful customer service.
                </div>
                <div class="col-md-6">
                    <h5>Contact Info</h5>
                    <ul class="list-unstyled">
                        <li>Address: 205 Nguyen Xi, Ward 26, Binh Thanh, Ho Chi Minh City</li>
                        <li>Phone: 0866251347</li>
                        <li>Email: hoangnhan1122@fpt.edu.vn</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    {% endblock %}